/* ================================================= */
/* =============== Couleurs et fonts =============== */
/* ================================================= */
:root{
    --black_soft: #333333;
    --clear_black: #484848;
    --gray: #747474;
    --gray2: #cccccc;
    --clear_gray: #D3D3D3;
    --clearer_gray: #E6E6E6;
  
    --white: #F9F9F9;
  
    --yellow: #F3BA00;
  
    --blue: #01587A;
    --clear_blue: #5cb3c1;
    --clearer_blue: #99D8DD;
  }

  /* Logo font */
  .pacifico{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  /* Titres font */
  .montserrat{
    font-family: "Montserrat", sans-serif;
  }
  /* Texte font */
  .roboto{
    font-family: "Roboto", sans-serif;
  }
  /* Elements spécifiques font (boutons etc) */
  .nunito{
    font-family: "Nunito", sans-serif;
  }


/* ========================================== */
/* =============== CSS Commun =============== */
/* ========================================== */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
body{
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--black_soft);
}
a{
  text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
}
button{
  cursor: pointer;
}

/* ================================================ */
/* =============== CLASSES communes =============== */
/* ================================================ */

.space-around{
  display: flex;
  justify-content: space-around;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
}
.flex-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.absolute-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed-centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sticky-centered{
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.border{
  border: 3px solid red;
}


/* ================================================ */
/* =============== ELEMENTS communs =============== */
/* ================================================ */

/* les boutons */
.btn{
  background-color: var(--yellow);
  border-radius: 15px;
  color: var(--black_soft);
  font-family: "Nunito", sans-serif;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px #747474a8;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--clearer_blue);
  box-shadow: 0px 4px 4px 0px #5f5f5fbb;
}


/* les formes */
.form{
  display: flex;
  flex-direction: column;
}
.form input, .form input[type="email"]{
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 0px 1rem;
  margin-bottom: 0.8rem;
  transition: 0s;
}
.form input:-webkit-autofill{
  box-shadow: 0 0 0 1000px var(--white) inset !important;
  -webkit-text-fill-color: var(--gray) !important;
  border: 1px solid var(--gray) !important;
  transition: background-color 9999s ease-in-out 0s;
}
.form input::placeholder, .form input[type="email"]::placeholder {
  color: var(--gray);          /* texte du placeholder */
  opacity: 0.8;         /* un peu plus clair */
  font-style: italic;   /* optionnel */
}
.form input:focus, .form input[type="email"]:focus{
  outline: none;
}
.form-select{
  background-color: var(--white);
  border: 1px solid var(--gray);
  padding: 0px 1rem;
  color: var(--clear_black);
}


/* bouton pour fermer */
.close-button{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  background-color: var(--clear_blue);
  color: var(--white);
  font-size: 16pt;
  cursor: pointer;
}
.close-button:hover{
  transform: scale(1.2);
}

/* ============================================= */
/* =============== REGISTER PAGE =============== */
/* ============================================= */
.register-container>div{
  flex: 1;
}
.register-container{
  background-color: var(--white);
  padding: 0px 5vw;
  height: 85vh;
  margin-top: 15vh;
}
/* LEFT PART */
.register-container .left-part{
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.register-container .left-part img{
  width: 30vw;
  border-radius: 50%;
}
.register-container .left-part h2{
  font-size: 25px;
  color: var(--blue);
  width: 30vw;
}

/* RIGHT PART */
.register-container .right-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem
}
.register-container .right-part h2{
  font-weight: normal;
}
.register-container .right-part .flex-row{
  width: 70%;
  gap: 1rem;
}
/* Formulaire d'inscription/login */
.register-container .right-part .input-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}
.register-container .right-part .flex-row input{
  width: 100%;
}
.register-container .form{
  gap: 0.3rem;
}
.register-container .form input, .register-container .form input[type="email"]{
  width: 70%;
  border-radius: 10px;
  height: 2.3rem;
}
.register-container .form input:focus, .register-container .form input[type="email"]:focus, .register-container .form input[type="password"]:focus{
  outline: none;
  border: 2px solid var(--blue) !important;
}
.register-container .right-part .select-role{
  width: 70%;
  height: 2.3rem;
  border-radius: 10px;
  margin-bottom: 0.8rem
}
.register-container .right-part .btn{
  width: 70%;
  border: none;
  font-size: 16px;
}

/* ================================================= */
/* =============== INDEX: PRINCIPAL SECTION =============== */
/* ================================================= */

.principal{
  background-color: var(--white);
  position: relative;
  padding: 0px 8vw;
  height: 85vh;
  margin-top: 15vh;
}
.principal .left-part, .principal .right-part{
  width: 40%;
}
.principal .left-part{
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  z-index: 9;
}
.principal .left-part p{
  max-width: 30vw;
  width: 100%;
  line-height: 1.6;
  font-size: 17px;
}
.principal .left-part .btn{
  z-index: 3;
}
.principal .right-part .img-container{
  background-image: url(/../Memoire/assets/img/classe1.png);
  background-size: cover;
  background-position: center;
  width: 30vw;
  aspect-ratio: 736 / 589;
  object-fit: cover;
  position: relative;
  border-radius: 50px;
}
.principal .right-part .img-container img:first-child{
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  z-index: 99;
  width: 12vw;
}
.principal .design-wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
}